{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
<h1 class=" my_prod_title">WELCOME TO THE
DEPARTMENT OF BIOLOGY</h1><br>
<p class="text-justify my_prod_text">
Biology at Boston University is a highly integrative department, with faculty teaching and conducting
research in the broad range of fields that comprise the contemporary life sciences. The department spans the full spectrum of biological sciences,
ranging from cell and molecular biology to ecology and conservation biology, giving us unusual strength in integrative research that addresses
questions across multiple levels ofbiological complexity. The Biology Department is committed to providing a safe, inclusive, equitable,
and welcoming environment for all.
</p></div>
{% endblock %}