{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
<h1 class=" my_prod_title">WELCOME TO THE
DEPARTMENT OF COMMERCE</h1><br>
<p class="text-justify my_prod_text">

About the Department
The Commerce Department comprises of three subjects: Accounting, Economics and Commercial Studies. Commercial studies are offered to year 9 and 10 and Accounting and Economics is offered to year 11 to year 13. Approximately eighty percent (80%) of students takes these subjects.

The Department Vision and Mission

Departments Vision: Promotion of financial and commercial education for a sustainable future
Department Mission: To develop skills and qualities in finance Business and Commerce through accounting, economics and computer studies for a sustainable future in this financial world.
The department staffing is adequate with four teachers who are qualified and experienced in this field. The department is blessed with these teachers as this department could be one of the most qualified departments in the district. The department is also fortunate to have the vice principal as one of its department member and his wealth of knowledge and experience is an added advantage to the department teachers and students.
</p></div>
    {% endblock %}
