{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
<h1 class=" my_prod_title">WELCOME TO THE
DEPARTMENT OF HISTORY</h1><br>
<p class="text-justify my_prod_text">
This is a vibrant, highly motivated, and outward-looking Department which boasts unparalleled expertise on the histories of Asia, Africa,
and the Middle East. We approach those histories by focusing on a range of topics,
including culture, religion, gender, economics, law, politics, technology, and warfare.
</p></div>
{% endblock %}