{% extends 'base.html' %}
{% load static %}
{% block content %}<div class="container">
<h1 class=" my_prod_title">WELCOME TO THE
DEPARTMENT OF SCIENCE</h1><br>
<p class="text-justify my_prod_text">
IntroductionMandateFormer SecretariesOrganization StructureAdministrative SetupDirectoryVigilanceSuccess Stories of DSTEleventh Five Year PlanTwelfth Five Year PlanMeet the MinisterMeet the Secretary
Introduction
Department of Science & Technology (DST) was established in May 1971, with the objective of promoting new areas of Science & Technology and to play the role of a nodal department for organising, coordinating and promoting S&T activities in the country. The Department has major responsibilities for specific projects and programmes as listed below:

Formulation of policies relating to Science and Technology.
Matters relating to the Scientific Advisory Committee of the Cabinet (SACC).
Promotion of new areas of Science and Technology with special emphasis on emerging areas.
Research and Development through its research institutions or laboratories for development of indigenous technologies concerning bio-fuel production, processing, standardization and applications, in co-ordination with the concerned Ministry or Department;
Research and Development activities to promote utilization of by-products to development value added chemicals.
Futurology.
Coordination and integration of areas of Science & Technology having cross-sectoral linkages in which a number of institutions and departments have interest and capabilities.
Undertaking or financially sponsoring scientific and technological surveys, research design and development, where necessary.
Support and Grants-in-aid to Scientific Research Institutions, Scientific Associations and Bodies.
All matters concerning:
Science and Engineering Research Council;
Technology Development Board and related Acts such as the Research and Development Cess Act,1986 (32 of 1986) and the Technology Development Board Act,1995 (44 of 1995);
National Council for Science and Technology Communication;
National Science and Technology Entrepreneurship Development Board;
International Science and Technology Cooperation including appointment of scientific attaches abroad (These functions shall be exercised in close cooperation with the Ministry of External Affairs);
Autonomous Science and Technology Institutions relating to the subject under the Department of Science and Technology including Institute of Astro-physics, and Institute of Geo-magnetism;
Professional Science Academies promoted and funded by Department of Science and Technology;
The Survey of India, and National Atlas and Thematic Mapping Organisation;
National Spatial Data Infrastructure and promotion of G.I.S;
The National Innovation Foundation, Ahmedabad.
Matters commonly affecting Scientific and technological departments/organisations/ institutions e.g. financial, personnel, purchase and import policies and practices.
Management Information Systems for Science and Technology and coordination thereof.
Matters regarding Inter-Agency/Inter-Departmental coordination for evolving science and  technology missions.
Matters concerning domestic technology particularly the promotion of ventures involving  the commercialization of such technology other than those under the Department of  Scientific and Industrial Research.
All other measures needed for the promotion of science and technology and their  application to the development and security of the nation.
Matters relating to institutional Science and Technology capacity building including setting  up of new institutions and institutional infrastructure.
Promotion of Science and Technology at the State, District, and Village levels for grass- roots development through State Science and Technology Councils and other mechanisms.
Application of Science and Technology for weaker sections, women and other disadvantaged sections of Society.
</p></div>
{% endblock %}